[Desktop Entry]
Version=1.0
Type=Application
Name=textadept
Comment=
Exec=/home/z/bin/x/textadept/textadept
Icon=
Path=
Terminal=false
StartupNotify=true
