[Desktop Entry]
Version=1.0
Type=Application
Name=textadept-curses
Comment=
Exec=/home/z/Downloads/textadept/textadept-curses
Icon=
Path=
Terminal=true
StartupNotify=true
