body, html, td, tbody, table, tr {
  background-color: #222 !important;
}

a, a:hover {
  color: lightblue;
}

#restPageTitle {
  font-size: 20px;
  font-weight: 200;
}

body, .tableCaption a.buildTypeName, .projectHeaderTable a, .projectHeaderTable a:hover, .projectHeaderTable a:visited {
  color: #eee;
}

table.modificationBuilds tr.buildTypeProblem {
  border:none;
}

table.modificationBuilds tr td.status {
  min-width: 250px;
}

.buildChainBuild .progress_holder .progress {
  height: 20px;
}

table.overviewTypeTable td.compositeBuild {
  font-style: normal;
}

.package {
  font-weight: inherit !important;
  font-family: inherit !important;
}

span.none, .feed-links, .divsWithHeaders h2, .icon.buildDataIcon {
  display: none;
}

table.modificationBuilds tr td.status > .icon.buildDataIcon {
  display: inline-block !important;
}

span[class*="build-status-icon_personal"] + * + * a {
  content: "PERSONAL";
  color: #888
}

span[class*="buildType-icon_failing"] + * span {
  background-color: #FFF6FF;
}

.statusTable .progress {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

span.buildType-icon {
  display: none;
}

span.pc .toggle, #restPageTitle .icon {
  background-image: none;
  padding-top: -5px;
  padding-bottom: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ddd;
  margin-bottom: 2px;
}

span.pc .toggle, #restPageTitle .icon:hover {
  background-image: none;
  padding-top: -5px;
  padding-bottom: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #007ee5;
  margin-bottom: 2px;
}

.runnerFormTable th, .runnerFormTable td {
  border-top: none;
}

#userPanel .search {
  display: none;
}

.footerMainContainer {
  display: none;
}

.tests-group .group-name {
  border-top: none;
}

.failureStatusBlock, .runningBuildStatus {
  border: none;
  padding: 1px;
}

table.dark th {
  padding-bottom: 5px;
  color: offwhite;
  text-align: left;
  font-weight: normal;
  background-color: #222;
  border-bottom: 1px solid #ccc
}

.inheritedParam {
  font-style: normal;
}

table.borderBottom tr:hover {
  background-color: #222;
}

#tabsContainer .tabs li {
  font-size: 100%;
  font-weight: normal;
}

table.borderBottom td {
  border: none;
}

.divsWithHeaders > div {
  border: none;
}

#footer .footerMainContainer {
  border: none;
}

table.overviewTypeTable td.status {
  padding-right: 0;
}

table.overviewTypeTable td.buildNumber {
  padding-left: 0;
}

.tableCaption {
  border: none;
}

.bt-separator {
  display: none;
  border: none;
  height: 5px;
  margin-left: 2em;
}

.joinedChangeTable > tbody > tr > td {
  border: none;
}

.projectHeader {
  background: #222!important;
}

.projectHeader:hover {
  background-color: #333;
}

.progress {
  height: 20px;
  border-bottom: 1px solid #E1E1E1;
  background-color: transparent;
  text-align: right;
  float: right;
}

.progressOvertime {
  display: none !important;
}

.progressInnerSuccessful {
  background-color: #4da400;
}

.progressInnerFailed {
  background-color: #C10000;
}

.progressInner {
  height: 1px;
  margin-top: 20px;
}

.tableCaption table.runTable td.runningStatus {
  padding-right: 2.2em;
}

td.pendingMessage {
  width: 10em !important;
}

.fixedWidth {
  padding: 0 10px;
}

.stopBuild > span > a {
  color: paleviolet;
}

.tableCaption {
  margin: 0 1em;
}

td.branch {
  width: 1em;
}

td.buildNumber {
  color: paleviolet;
  padding-right: 0;
}

td.buildNumber.detachedChanges > span {
  background-color: #232323; /* another color? */
  display: none;
}

span.runningStatus > img {
  display: none !important;
}

table.overviewTypeTable td {
  padding: 0.3em 0;
}

table.overviewTypeTable tr:hover {
  background-color: #333;
}

body.pageBG, body.pageBG:before {
  background: #222;
}

#tabsContainer .tabs li.selected, #userPanel .info.selected {
  padding-bottom: 1px;
  border-bottom: 2px solid #007ee5;
}

.simpleTabs .tabs li.selected {
  margin: 2px 0 0;
  border: none;
  border-bottom: 1px solid #007ee5;
  background-image: none;
}

.simpleTabs .tabs li {
  border: none;
  margin: 1px 0 0;
  padding-bottom: 1px;
  box-shadow:none !important;
  background:none  !important;
}

.headBG {
  border: none;
}

.branchName {
  background-color: #444 !important;
}

#footer {
  display: none;
}

span[class*="buildType-icon_failing"] + * span {
  background-color: #333;
}
