*$py.class
*.7z
*.aux
*.bz2
*.chi
*.chs.h
*.class
*.dat
*.dyn_hi
*.dyn_o
*.egg
*.elf
*.eventlog
*.gz
*.hi
*.hp
*.jar
*.key
*.ko
*.lock
*.log
*.o
*.obj
*.out
*.pak
*.pid
*.prof
*.py[cod]
*.seed
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.HTF/
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.apdisk
.bower-cache
.bower-registry
.bower-tmp
.cabal-sandbox/
.completer.hist
.config/nvim/session/*
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.fseventsd
.ghc/x86_64-linux-8.0.1
.grunt
.hpc
.hsenv
.idea
.init.vim-rplugin~
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lock-wscript
.moc/cache
.moc/equalizer
.moc/last_directory
.moc/softmixer
.netrwhist
.nrepl-port
.opam/compilers
.opam/log
.opam/packages
.opam/repo
.opam/system
.psci*
.pulp-cache
.sass-cache
.stack-work/
.vimsession~
.virtualenv
.vscode
/.build/
/checkouts/
/classes/
/lib/
/target/
Icon
Network Trash Folder
TAGS
Temporary Items
Thunar
__pycache__/
_build/
_references.js
bin/x
bower_components
build.js
build/Release
bundle
bundle.js
cabal-dev
cabal.project.local
cabal.sandbox.config
coverage
data
db
dist
dist-*
ghci_history
lib-cov
logs
node_modules
npm-debug.log*
output
pids
pom.xml
pom.xml.asc
public/lib
src/.webpack.js
tags
x/
xfce4
.nyc_output
.config/qutebrowser/quickmarks
.config/qutebrowser/qsettings
.config/qutebrowser/bookmarks
.config/nvim/autoload/plug.vim
.config/nvim/autoload/plug.vim.old
