*.dat
*.egg
*.elf
*.gz
*.hi
*.key
*.ko
*.lock
*.log
*.o
*.obj
*.out
*.pid
*.py[cod]
*.seed
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.HTF/
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.apdisk
.completer.hist
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.fseventsd
.idea
.init.vim-rplugin~
.lock-wscript
.netrwhist
.sass-cache
.vimsession~
.virtualenv
.vscode
/.build/
/lib/
/target/
Icon
Network Trash Folder
TAGS
Temporary Items
__pycache__/
_build/
_references.js
bin/x
build.js
build/Release
bundle.js
coverage
data
db
dist
dist-*
lib-cov
logs
node_modules
npm-debug.log*
output
pids
public/lib
src/.webpack.js
tags
x/
.nyc_output
.vim/autoload/plug.vim
.vim/autoload/plug.vim.old
.vim/.netrwhist
.vim/session
.config/mpv/watch_later/
