*$py.class
*.7z
*.bz2
*.dat
*.egg
*.elf
*.gz
*.key
*.ko
*.lock
*.log
*.o
*.obj
*.out
*.pak
*.pid
*.py[cod]
*.seed
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.alarm.mp3
.apdisk
.bower-cache
.bower-registry
.bower-tmp
.completer.hist
.config/nvim/bundle/*
.config/nvim/session/*
.config/ranger/bookmarks
.config/ranger/history
.fseventsd
.grunt
.idea
.init.vim-rplugin~
.lock-wscript
.netrwhist
.psci*
.pulp-cache
.sass-cache
.vimsession~
.vscode
/.build/
Icon
Network Trash Folder
TAGS
Temporary Items
Thunar
__pycache__/
_build/
_references.js
bin/x
bower_components
build.js
build/Release
bundle
bundle.js
coverage
data
db
lib-cov
logs
node_modules
npm-debug.log*
output
pids
public/lib
src/.webpack.js
tags
x/
xfce4

