[core]
	editor = nvim
	excludesfile = /home/z/.gitignore_global
[gui]
	fontui = -family \"Fantasque Sans Mono\" -size -10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Fantasque Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	editor = nvim
[user]
	email = zac@zacanger.com
	name = zacanger
[hub]
	username = zacanger
	oauthtoken = 00cd0863f530fdb9070ca53b1588425e712c1982
[cola]
	fontdiff = Fantasque Sans Mono,10,-1,5,50,0,0,0,0,0
[push]
	default = matching
[color]
	ui = auto
