[core]
	editor = nvim
	excludesfile = /home/z/Dropbox/z/.gitignore_global
[gui]
	fontui = -family \"Fantasque Sans Mono\" -size -10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Fantasque Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	editor = nvim
[user]
	email = zac@zacanger.com
	name = zacanger
[hub]
	username = zacanger
  oauthtoken =
[cola]
	fontdiff = Fantasque Sans Mono,10,-1,5,50,0,0,0,0,0
[push]
	default = matching
[color]
	ui = 1
[alias]
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	unpublish = !legit unpublish
	sprout = !legit sprout
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
  b = log -p -M --follow --stat --
	chart = log --graph --oneline --all --decorate
	graph = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = !/path/to/git-ls
	cm = commit
	ac = !git add -A && git commit
	st = status -sb
  stash = stash -u
  remote = remote -v
  branch = branch -rv
  rebase = rebase -i
	web = instaweb
  add = add -A
	p = push
  go = !git add -A && git commit -am "foo" && git push
  rpm = remote prune origin
[filter "ignoreline"]
	clean = "sed '/#ignoreline$/'d"
[help]
	autocorrect = 1
[instaweb]
	local = true
	port = 7777
	browser = chromium
[dude]
  interval = 300
[commit]
  template = ~/.gitmessage
[sequence]
	editor = rebase-editor

[http]
	postBuffer = 524288000
