editor=vim
searchsort=date
email=zac@zacanger.com
send-metrics=false
init-author-name=Zac Anger
init-author-email=zac@zacanger.com
init-author-url=https://zacanger.com/
init-license=MIT
init-version=0.0.1
loglevel=warn
sign-git-tag=true
