//registry.npmjs.org/:_authToken=79ba1060-3e61-441d-82e6-2e719ea7b30a #ignoreline
python=/usr/bin/python2.7
editor=nvim
heading=npm@ANGR
searchsort=date
email=zac@zacanger.com
cache=/home/z/.npm
send-metrics=true
init.author.name=Zac Anger
init.author.email=zac@zacanger.com
init.author.url=http://zacanger.com
init.license=MIT
init.version=0.0.1
prefix=/usr/local
loglevel=warn
sign-git-tag=true
