python=/usr/bin/python2.7
editor=nvim
heading=npm@ANGR
searchsort=date
email=zac@zacanger.com
cache=/home/z/.npm
cache-min=9999999
send-metrics=true
save=true
init.author.name=Zac Anger
init.author.email=zac@zacanger.com
init.author.url=http://zacanger.com
init.license=WTFPL
init.version=0.0.1
