[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chromium App Launcher
Exec=/usr/bin/chromium --show-app-list
Icon=chromium-app-list
Categories=Network;WebBrowser;
StartupWMClass=chromium_app_list
X-XFCE-Source=file:///home/z/.local/share/applications/chromium-app-list.desktop
