"*":
  Termrk:
    defaultHeight: 200
    fontFamily: "Hasklig"
    fontSize: "12px"
  "atom-autocomplete-php": {}
  "atom-beautify": {}
  "autocomplete-plus":
    autoActivationDelay: 40
    confirmCompletion: "tab"
    maxVisibleSuggestions: 5
    minimumWordLength: 2
  autosave:
    enabled: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "welcome"
      "package-generator"
      "metrics"
      "encoding-selector"
      "about"
      "background-tips"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-ruby-on-rails"
      "language-sql"
      "language-toml"
      "language-elm"
      "swackets"
      "script"
      "script-runner"
      "pipe"
      "meteor-api"
      "language-property-list"
      "language-php"
      "linter-eslint"
      "linter-jshint"
      "file-icons"
      "no-file-icons"
    ]
    packagesWithKeymapsDisabled: [
      "wakatime"
      "useful-context-menu"
    ]
    themes: [
      "seti-ui"
      "framerjs-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrap: false
    tabLength: 2
    tabType: "soft"
  "emmet-simplified": {}
  everything:
    commandsProviderTrigger: ""
    googleProviderTrigger: ""
  "exception-reporting":
    userId: "9e0f0dfa-88e8-4788-121a-f6dab2a66b3d"
  "file-icons":
    forceShow: true
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder": {}
  "git-diff": {}
  "gtk-dark-theme": {}
  hex: {}
  "language-babel": {}
  "less-than-slash": {}
  linter: {}
  "linter-eslint":
    eslintrcPath: "/home/z"
    globalNodePath: "/usr/local/"
    useGlobalEslint: true
  "linter-jshint":
    executablePath: '''
      /usr/local/bin/jshint

    '''
    lintInlineJavaScript: true
    lintJSXFiles: true
  "markdown-preview":
    useGitHubStyle: true
  "node-debugger":
    env: "development"
    nodePath: "/usr/local/bin/node"
  "pdf-view":
    fitToWidthOnOpen: true
  react: {}
  semanticolor:
    affectedSourceObjects: {}
  "seti-icons":
    iconsPlus: true
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style: {}
  "tree-view":
    autoReveal: true
  "useful-context-menu": {}
  "vim-mode-plus":
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  wakatime:
    apikey: "dfecd779-149d-4be0-84de-260ba6499fc6"
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    showInvisibles: true
".c.source":
  editor:
    scrollPastEnd: true
    showInvisibles: true
".coffee.jsx.source":
  editor:
    showInvisibles: true
".ini.source":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
".js.jsx.source":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true

