"*":
  Termrk:
    defaultHeight: 247
    fontFamily: "Hasklig"
    fontSize: "12px"
  "atom-beautify":
    _analyticsUserId: "4c0a1b55-dd34-453e-8444-a17a087144e2"
  "atom-hyperlinks": {}
  "autocomplete-plus":
    autoActivationDelay: 30
    maxVisibleSuggestions: 4
    minimumWordLength: 2
  autosave:
    enabled: true
  "browser-plus":
    node: true
  core:
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
      "language-property-list"
      "language-toml"
      "language-objective-c"
      "language-go"
      "language-csharp"
      "welcome"
      "language-ruby-on-rails"
      "metrics"
      "meteor-api"
      "pharaoh"
      "semanticolor"
      "swackets"
      "standard-angularjs-snippets"
      "linter-eslint"
      "language-javascript-semantic"
      "synesthesia"
      "styleguide"
      "package-generator"
      "language-sql"
      "language-php"
      "language-perl"
      "language-mustache"
      "language-make"
      "language-java"
      "language-clojure"
      "encoding-selector"
      "hyperclick-php"
    ]
    packagesWithKeymapsDisabled: [
      "styleguide"
      "open-plus"
      "link"
    ]
    themes: [
      "outlander-ui"
      "framerjs-syntax"
    ]
  "dark-flat-ui":
    accentColor: "purple"
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    tabLength: 2
    tabType: "soft"
  emmet: {}
  "emmet-simplified": {}
  everything:
    commandsProviderTrigger: ""
    googleProviderTrigger: ""
  "exception-reporting":
    userId: "e3ad2c46-68b7-14d0-ee2f-37eb8a81d8d0"
  "file-icons":
    forceShow: true
  floobits: {}
  "git-diff":
    showIconsInEditorGutter: true
  hex: {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".jsx"
    ]
  jshint:
    onlyConfig: true
    supportLintingJsx: true
    validateOnlyOnSave: true
  "language-babel": {}
  linter: {}
  "linter-eslint":
    eslintRulesDir: "/home/z/"
    eslintrcPath: "/home/z/"
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jsxhint": {}
  "markdown-preview": {}
  navigate: {}
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  "pdf-view":
    fitToWidthOnOpen: true
  "preview-plus": {}
  "project-manager": {}
  react:
    enabledForAllJavascriptFiles: true
  semanticolor:
    affectedSourceObjects: {}
    colorDiversity: 32
  "seti-icons":
    iconsPlus: true
  swackets: {}
  tabs: {}
  term3:
    fontFamily: "Hasklig"
    fontSize: "12"
  "useful-context-menu":
    groupItems: true
  "vim-mode-plus":
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  wakatime:
    apikey: "dfecd779-149d-4be0-84de-260ba6499fc6"
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 120
".git-config.source":
  editor:
    preferredLineLength: 120
".git-rebase.text":
  editor:
    preferredLineLength: 120
".hyperlink.text":
  editor:
    preferredLineLength: 120
