atom-text-editor::shadow {
  .git-commit.invalid.deprecated.line-too-long {
    color: @text-color-warning;
    text-decoration: none;
  }
  .git-commit.invalid.illegal.line-too-long {
    color: @text-color-selected;
    background: @background-color-error;
    opacity: 0.9;
  }
}

