*.cover
*.dat
*.dyn_hi
*.dyn_o
*.egg
*.egg-info/
*.elf
*.eventlog
*.key
*.lock
*.log
*.manifest
*.o
*.obj
*.out
*.pid
*.prof
*.py,cover
*.py[cod]
*.sage.py
*.seed
*.so
*.so.*
*.spec
*.swp
*.tar
*.tfstate*
*.tfvars
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.HTF/
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.apdisk
.cache
.completer.hist
.coverage
.coverage.*
.eggs/
.env
.fseventsd
.idea
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.netrwhist
.nox/
.nyc_output
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.sass-cache
.scrapy
.terraform/
.tox/
.venv
.vimsession~
.virtualenv
.vs/
.vscode
.webassets-cache
/.build/
/tags
ENV/
Icon
MANIFEST
Network Trash Folder
Temporary Items
__pycache__/
__pypackages__/
_build/
_references.js
build.js
build/
bundle
bundle.js
celerybeat-schedule
celerybeat.pid
core
cover/
coverage
coverage.xml
cython_debug/
db
db.sqlite3
db.sqlite3-journal
dist
dist-*
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
ipython_config.py
lib-cov
logs
node_modules
nosetests.xml
npm-debug.log*
output
pids
pip-delete-this-directory.txt
pip-log.txt
public/lib
python-wheels/
src/.webpack.js
target/
var/
venv.bak/
venv/
wheels/
x/
!Cargo.lock
