[Desktop Entry]
Version=1.0
Type=Link
Name=lj111_july2003v4.qxd - HowToIndexAnything.pdf
Comment=
Icon=gnome-fs-bookmark
URL=http://joshr.com/src/docs/HowToIndexAnything.pdf\r
