[Desktop Entry]
Version=1.0
Name=SpaceFM
Categories=System;FileTools;Utility;Core;GTK;FileManager;
Exec=spacefm %F
Icon=spacefm
StartupNotify=true
Type=Application
Terminal=false
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;
GenericName=File Manager
Comment=Browse the file system
Keywords=file;manager;file-manager;
X-XFCE-Source=file:///usr/share/applications/spacefm.desktop
