[Desktop Entry]
Version=1.0
Type=Application
Name=ff safe
Comment=
Exec=/home/z/bin/x/firefox/firefox --safe-mode
Icon=
Path=
Terminal=false
StartupNotify=false
