/* example from the readme; totally not in use, actually. */

/*Reset all previous css style*/
*, *:active, *:prelight,*:hover, *:insensitive, *:selected, *:focused, *:inconsistent {
  background: transparent;
  /*background-color: rgba(0,0,0,0);*/
  background-image: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  border-image: none;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-interior-focus: false;
  text-shadow: none;
}

.menu {
  background-color: rgba(34,34,34,0.2);
}

.separator{
  -GtkWidget-wide-separators: false;
  -GtkWidget-separator-width: 1;
  -GtkWidget-separator-height: 1;
  background-color: #111111;
}

/**, *:prelight,*:hover, *:insensitive, *:selected, *:focused, *:inconsistent*/
GtkNotebook, .notebook {
  background-color: rgba(46,52,54,0.0);
}

GtkNotebook tab, .notebook tab {
  /*background-color: rgba(46,52,54,0.5);*/
  background-image: -gtk-gradient(linear,
  center top,
  center bottom,
  color-stop(0, rgba(0,0,0,0.7)),
  color-stop(0.6, rgba(46,52,54,0.5)),
  color-stop(1, rgba(46,52,54,0)));
  padding: 0px 5px 2px 5px;
  border-radius: 0px 0px 0px 0px;
  color: #000000;
}

GtkNotebook tab:active, .notebook tab:active {
  background-image: none;
  padding: 2px 7px 2px 7px;
  /*background-color: rgba(46,52,54,0.97);*/
  background-color: rgba(34,34,34,0.93);
  border-style: solid;
  border-color: #eab93d;
  border-width: 0px 0px 1px 1px;
  border-radius: 0px 0px 6px 0px;
  color: #ffffff;
}
