[Desktop Entry]
Version=1.0
Type=Application
Name=Zed Code Editor
Comment=
Exec=/usr/bin/chromium --profile-directory=Default --app-id=pfmjnmeipppmcebplngmhfkleiinphhp
Icon=chrome-pfmjnmeipppmcebplngmhfkleiinphhp-Default
Path=
Terminal=false
StartupNotify=true
