max_search_results=5
grow_corner=1
decorated=1
coord_x=904
coord_y=167
min_char_for_search=2
section_enabled_0=1
section_enabled_1=1
section_enabled_2=1
section_enabled_3=1
section_enabled_4=1
section_enabled_5=1

