[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/z/Desktop/firefox]
row=5
col=0

[/home/z/Desktop/roaster]
row=4
col=0

[/home/z/Desktop/imn]
row=7
col=0

[/home/z/Desktop/bbqsystool]
row=3
col=0

[677C-1D4D]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/z]
row=2
col=0

