html, html a {
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: antialiased !important;
	font-smooth: always;
}

body 
{
	margin: 0;
	padding: 0;
	border-spacing: 0;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
        background: #ccc;
}

a:link, a:active, a:visited { 
	font-size: 1em; 
	text-decoration: none; 
	font-weight: 900; 
	color: #069;
}

a:hover {
        text-decoration: underline;
	font-weight: 900; 
}

#nav {
	position: fixed;
	top: 50%;
	right: 0px;
	z-index: 110;
	background: #069;
	font-size: 1.15em;
	padding: 6px 8px;
        opacity:0.6;
}

#nav a:link, #nav a:active, #nav a:visited {
        color: #ccc;
        text-decoration: none;
        font-weight: 500;
	padding: 4px 6px;
}

#nav a:hover {
        color: #fff;
        text-decoration: none;
	font-size: 1.35em;
        font-weight: 900;
	padding: 4px 6px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

#nav1 {
        position: fixed;
        top: 50%;
        right: 0px;
        z-index: 110;
        background: #000;
        font-size: 1.25em;
        padding: 6px 8px;
        opacity:0.75;
}

#nav1 a:link, #nav1 a:active, #nav1 a:visited {
        color: #ccc;
        background: #000;
        text-decoration: none;
        font-weight: 500;
        padding: 6px 8px;
}

#nav1 a:hover {
        color: #fc6;
        background: #000;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 900;
        padding: 6px 8px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

#cont {
	margin: 0 auto;
	background: #fff;
}

#cont1 {
	margin: 0 auto;
	background: #fff;
}

#cont2 {
	margin: 10px 2% 25px 2%;
}

#cont3 {
	margin: 10px 4% 50px 4%;
	background: #fff;
}

#head {
        margin: 0 auto;
        background-color: #000;
        font-size: 3em;
        font-family: serif;
        font-weight: 900;
        color: #ccc;
        padding: 100px 0;
        text-align: center;
}

#header {
	margin: 0 auto;
	top: 0;
	position: fixed;
	z-index: 130;
	width: 100%;
	background-color: #000;
	text-align: center;
	font-family: serif;
	font-size: 1.45em;
	font-weight: 900;
	color: #fc6;
        padding: 8px 0; 
}

#content {
	margin: 53px 43px 11px 43px;
	background: #fff;
	padding: 5px 4.25em 2em 4.25em;
	font-size: 1.20em;
} 	

#content1 {
	margin: 0 auto;
	padding: 25px 1em 50px 2em;
	background: #fff;
	font-size: 1.25em;
}

#pcontent {
	margin: 0 auto;
	padding: 25px 3em 2em 3em;
	background: #fff;
	font-size: 1.25em;
}

#econtent {
	margin: 0 auto;
	padding: 65px 1em 2em 1em;
	background: #fff;
}

#fcontent {
	margin: 0 auto;
	padding: 65px 3em 10px 3em;
	background: #fff;
	font-size: 1.25em;
}

#logo {
	margin: 0 auto;
	padding-right: 1.5em;
	float: right;
	background: #fff;
}

.multi {
	margin: 100px auto 0 auto;
	font-size: 1.25em;
        font-weight: 900;
	font-family: serif;
}

.spc {
	margin-top: 11px;
}

#player {
	margin: 65px 37.5%;
}

p.pla {
	margin: auto auto 7px auto;
	font-size: 1.25em;
	font-weight: 900;
}

p.pla1 {
	margin: 8px auto auto auto;

}

#link {
        margin: 0 auto;
	background: #fff;
}

#link a:link, #link a:active, #link a:visited {
        font-size: 1.20em;
        color: #069;
        text-decoration: none;
        font-weight: 900;
}

#link a:hover {
        font-size: 1.20em;
        color: #069;
        text-decoration: underline;
        font-weight: 900;
}

#link p {
	font-size: 1.20em;
}

#footer {
	margin: 0 auto;
	background-color: #000;
	padding: 1.5em 0 1.5em 2em;
	color: #eee;
	font-weight: 900;
}

#footer a:link, #footer a:active, #footer a:visited {
	font-size: 1em; 
        color: #ccc;
        text-decoration: none;
	font-weight: 500; 
}

#footer a:hover {
        color: #c0c0c0;	
        text-decoration: underline;
	font-weight: 500; 
}

#warn {
     position: absolute;
     top: 0px;
     right: 0px;
     z-index: 1000;
     width: 22%;
     color: #ccc;
     padding: 10px 8px 10px 15px;
}

#warn a:link, #warn a:visited, #warn a:active {
      font-weight: 500;
      text-decoration: none;
      color: #fc6;
      text-decoration: underline;
}

#warn a:hover {
      font-weight: 500;
      color: #fc6;
      text-decoration: underline;
}

hr {
        background-color: #069;
        color: #069;
        width: 12.5%;
        text-align: center;
        font-weight: 900;
}

hr.lo {
	margin: 65px auto;
}

hr.hi {
	margin: 75px auto 25px auto;
}

li {
        font-size: 1.15em;
        padding-bottom: 6px;
}

p.eee {
	display: table;
	font-family: georgia, serif;
	background: #eee;
	font-weight: 500;
	padding: 20px;
	border-left-style: solid;
	border-color: #069;
	border-width: 1px;
	margin-right: auto;
        width: auto;
}

p.ddd {
       margin: 35px auto;
       display: table;
       font-weight: 500;
       font-size: 1.15em;
       background-color: #eee;
       padding: 20px 15px;
       margin-left: auto;
       margin-right: auto;
       width: auto;
}

p.ggg {
       margin: 35px auto;
       display: table;
       font-weight: 500;
       margin-left: auto;
       margin-right: auto;
       width: 28%; 
       color: #ccc; 
       background: #930; 
       border-radius: 8px; 
       padding: 17px; 
       border: 3px solid #aaa; 
       border-width: 0 3px 3px 0;
}

p.ccc {
	margin: 65px auto;
        font-family: serif;
	display: table;
        font-weight: 500;
        font-size: 1.15em;
        background-color: #eee;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        border-style: solid;
        border-color: #000;
        border-width: 1px;
}

p.fff {
	margin: 35px auto;
	font-family: serif;
	font-weight: 500;
	font-size: 1.15em;
        background-color: #eee;
	padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        border-left-style: solid;
        border-color: #069;
        border-width: 1px;
}

p.zzz {
	margin-bottom: 40px;
	display: table;
	color: #ccc;
	font-family: 'Lucida Console', monospace;
        background-color: #444;
	padding: 8px 10px 8px 5px;
        margin-right: auto;
        width: auto;
}

pre.ns {
	display: inline-table;
	padding: 10px;
	background-color: #eee;
        margin-left: auto;
        margin-right: auto;
        width: auto;
}

.n {
	font-family: serif;
	font-weight: 900;
	font-size: 1.15em;
	text-shadow: 1px 1px 1px #666;
        -webkit-text-shadow: 1px 1px 1px #666;
}

.fl {
	font-family: serif;
	font-weight: 900;
	font-size: 1.25em;
	color: #eee;
}

.s {
	font-size: 1.20em;
}

.m {
	margin-top: 65px;
}

.vid {
	width: 420px; 
	height: 315px; 
	frameborder: 0; 
	allowfullscreen: 1;
}

video {
        width: auto;
        height: auto;
}

.cr {
	margin: 65px auto;
	text-align: center;
}

.cr1 {
	text-align: center;
}

.ft {
	margin-top: 50px;
}

.pic { 
	height: 150px;
        width: auto;
	margin-top: -30px;
}

.pic1  {
        height: auto;
        width: auto; 
	border: solid 3px #ccc;
	margin: 15px auto 45px auto;
}

.pic2 {
	margin: 0 0 0 2em;
	width: 200px;
	height: auto;
}

.pic3 {
	margin: 30px 0 55px 0;
	width: 290px;
	height: auto;
}

.pic4 {
	margin: 50px auto;
	width: 225px;
	height: auto;
}

h1 {
   margin: 0 auto;
   padding-top: 50px;
   color: #000;
   font-weight: 900;
   font-size: 1.60em;
   font-family: serif;
   text-shadow: 1px 1px 1px #666;
   -webkit-text-shadow: 1px 1px 1px #666;
}

h1.pd {
	padding-top: 40px;
}

h2 {
        margin-top: 75px;
	color: #000;
	font-weight: 900;
	font-size: 1.75em;
	font-family: serif;
	text-shadow: 1px 1px 1px #666;
	-webkit-text-shadow: 1px 1px 1px #666;
}

h3 {
        color: #000;
        font-weight: 900;
	font-size: 2em;
        font-family: serif;
        text-shadow: 1px 1px 1px #666;
        -webkit-text-shadow: 1px 1px 1px #666;
}

h4 { 
	margin: 50px auto 25px auto;
	font-size: 2em; 
	font-weight: 900; 
        font-family: serif;
        text-shadow: 1px 1px 1px #666;
        -webkit-text-shadow: 1px 1px 1px #666;
}

h5 {
        margin: 85px auto;
	text-align: center;
	color: #000;
        font-weight: 900;
        font-size: 1.5em;
        font-family: serif;
        text-shadow: 1px 1px 1px #666;
        -webkit-text-shadow: 1px 1px 1px #666;
}

h6 {
	margin: 85px auto 25px auto;
	color: #000;
	font-weight: 900;
	font-size: 1.5em;
	font-family: serif;
	text-shadow: 1px 1px 1px #666;
	-webkit-text-shadow: 1px 1px 1px #666;
}

p.big {
	margin: 0 auto;	
	color: #000;
	font-weight: 900;
	font-size: 1.5em;
	font-family: serif;
	text-shadow: 1px 1px 1px #666;
	-webkit-text-shadow: 1px 1px 1px #666;
}

p.big1 {
	margin-top: 65px;
	color: #000;
	font-weight: 900;
	font-size: 1.5em;
	font-family: serif;
	text-shadow: 1px 1px 1px #666;
	-webkit-text-shadow: 1px 1px 1px #666;
}

dl {
	margin-top: 35px;
}

dt { 
        font-size: 1.10em;
	font-weight: 900;
	font-family: verdana, sans-serif;
}

dt.f {
	font-size: 1.05em;
        font-weight: 900;
        font-family: verdana, sans-serif;
}

dt.r {
	color: #930;
        font-weight: 900;
	font-size: 1.10em;
}

dl.e {
	margin: 0 auto;
}

dt.e {
	margin-left: 44%;
        padding-bottom: 6px;
        font-family: serif;	
	font-size: 1.35em;
	color: #eee;
}	

dd.e {
	margin-left: 44%; 
	font-weight: 500;
        padding-bottom: 6px;
	font-size: 1em;
	color: #ccc;
}      	      

dl.g {
	margin: 20px 0 0 0;
}

dt.g { 
	font-size: 1em;
	color: #fc6;
}

dd.g {
	margin-left: auto;
	font-weight: 500;
	padding-bottom: 10px;
	font-size: 1em;
	color: #ccc;
}

dd.f {
       display: table;
       width: auto;
       margin-left: 0;
       font-size: 1.20em;
       padding-right: 2em;
       padding-bottom: 35px;
}

dd.f a:hover {
       color: #069;
       text-decoration: underline;
       font-weight: 900;
}

dl.d {
	margin-top: 65px;
}

dt.d {
	font-size: 1.25em;
	font-family: serif;
}

dd.d {
	font-size: 1.15em;
	font-family: helvetica, sans-serif;
}

#flist, #flist1, #flist2, #flist3, #flist4, #flist5, #flist6, #flist7, #flist8, #flist9, #flist10, #flist11, #flist12, #flist13, #flist15, #flist16 {
        display: inline-table;
        width: 100%; 
}

.fleft, .fleft1, .fleft2, .fleft3, .fleft4, .fleft5, .fleft6, .fleft7, .fleft8, .fleft9, .fleft10, .fleft11, .fleft12, .fleft13, .fleft14, .fleft15, .fleft16, .fleft17, .fleft18 {
	background: transparent;
        width: 33.33%;
        float: left;
}

#flust, #flust1, #flust2, #flust3, #flust4, #flust5, #flust6, #flust7, #flust8, #flust9, #flust10, #flust11, #flust12, #flust13, #flust15, #flust16 {
	display: flex;
        flex-direction: row;
        justify-content: space-around;
}

#fluft, #fluft1, #fluft2, #fluft3, #fluft4, #fluft5, #fluft6, #fluft7, #fluft8, #fluft9, #fluft10, #fluft11, #fluft12, #fluft13, #fluft14, #fluft15, #fluft16, #fluft17, #fluft18 {
	width: 30%;
        height: auto;
        padding: 0;
}

#lcont {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#lflex, #lflex1 {
	 width: 50%;
	 height: auto;
	 padding: 0;
}

#flex, #flex1, #flex2, #flex3 {
	width: 45%;
	height: auto;
	padding: 0;
}

.clearfix:after {
  	content: "";
	display: table;
	clear: both;
}

strong { 
	font-weight: 900;
        font-size: 1.10em;
	color: #000;
	text-shadow: 0px 0px 0px #666;
	-webkit-text-shadow: 0px 0px 0px #666;
}

.sha1 {
     box-shadow: 5px 5px 3px #999;
     -moz-box-shadow: 5px 5px 3px #999;
     -webkit-box-shadow: 5px 5px 3px #999;
}

.sha {
     box-shadow: 0 0 6px 6px #999;
     -moz-box-shadow: 0 0 6px 6px #999;
     -webkit-box-shadow: 0 0 6px 6px #999; 
}

.tsha {
	text-shadow: 1px 1px 1px #666;
	-webkit-text-shadow: 1px 1px 1px #666;
}

.shap {
	font-size: 1em;
	text-shadow: 1px 1px 1px #666;
        -webkit-text-shadow: 1px 1px 1px #666;
}

#table {
        display: table;
        margin: 0 auto;
        width: 100%;
        padding: 0.5em;
        margin-bottom: -10px;
}

.row, .row1 { display: table-row;
        padding: 0 0;
}

.cell { display: table-cell;
        padding: 0px 15px 0px 0px;
}

.cell   a:hover { 
	text-decoration: underline;

}

.cell1 {
        display: table-cell;
       padding-left: 150px;
}

ol.ls {
	list-style: none;
	list-style-image:url('images/onion.png');
	font-weight: 900; 
	margin: 35px 0 35px 1.5em;
}

ol.is {
	list-style: none;
	list-style-image:url('images/i2p.png');
	font-weight: 900;
	margin: 25px 0 50px 1em;
}

.bwh { 
	color: #fff; 
	font-weight: 900;
        font-family: serif;	
	font-size: 1.25em; 
}

@media only screen and (min-width: 240px) and (max-width: 500px) {

#cont, #contl, #cont2 { margin: 0 auto; width: 100%; overflow: hidden; }

#content1 { padding: 25px 1em 2em 1em; font-size: 1em; }

#pcontent { padding: 25px 0.25em 2em 0.25em; font-size: 1em; }

#fcontent { padding: 50px 1em; font-size: 1em; }

#econtent { padding: 50px 1em; font-size: 1em; }

#content { margin: 53px 0 11px 0; width: 100%; overflow: hidden; padding: 5px 0.5em 1em 0.5em; font-size: 1em; }

#logo { visibility: hidden; height: 0; } 

#head { font-size: 2em; padding: 50px 0; }

#nav, #nav1 { visibility: hidden; width: 0; }

#link { margin: 0 auto 2em auto; font-size: 1em; }

.fleft, .fleft1, .fleft2, .fleft3, .fleft4, .fleft5, .fleft6, .fleft7, .fleft8, .fleft9, .fleft10, .fleft11, .fleft12, .fleft13, .fleft14, .fleft15, .fleft16, .fleft17 { background: transparent; width: 100%; float: none; }

#fluft, #fluft1, #fluft2, #fluft3, #fluft4, #fluft5, #fluft6, #fluft7, #fluft8, #fluft9, #fluft10, #fluft11, #fluft12, #fluft13, #fluft14, #fluft15, #fluft16, #fluft17, #fluft18 { background: transparent; width: 100%; height: auto; }

#flust, #flust1, #flust2, #flust3, #flust4, #flust5, #flust6, #flust7, #flust8, #flust9, #flust10, #flust11, #flust12, #flust13, #flust15, #flust16 { display: block; }

#flex, #flex1, #flex2, #flex3 { background: transparent; width: 100%; height: auto; }

#lcont { display: block; }

#lflex, #lflex1 { width: 100%; height: auto; }

ol.ls { margin: 0 auto; }

ol.is { margin: 50px 0 50px 1em; }

dd { margin-left: 0; }

img.pic1 { width: 245px; height: auto; } 

img.pic2 { width: 175px; height: auto; margin: 0 0 35px 1em; } 

img.pic3 { width: 245px; height: auto; } 

p.ddd { font-size: 1em; padding: 10px 5px; }

p.ggg { font-size: 1em; padding: 10px 5px; }

p.ccc { font-size: 1em; padding: 10px 5px; }

#player { margin: 65px auto; }

dt.e, dd.e { margin-left: 35%; }

video { width: 225px; height: auto; }
}


@media only screen and (min-width: 500px) and (max-width: 800px) {

#cont2 { margin: 0 auto; width: 100%; overflow: hidden; }

#nav, #nav1 { visibility: hidden; width: 0; }

#pcontent { padding: 25px 1.5em 2em 1.5em; }

#content1 { padding: 25px 0.5em 50px 1.5em; font-size: 1em; }

#fcontent { padding: 50px 1em; font-size: 1em; }

#econtent { padding: 50px 1em; font-size: 1em; }

#head { font-size: 2.5em; padding: 75px 0; }

.fleft12 { background: transparent; width: 100%; float: none; }

img.pic1 { width: 400px; height: auto; } 

img.pic2 { width: 185px; height: auto; }

ol.is { margin: 40px 0 50px 1em; }

#player { margin: 65px 0 65px 31%; }

#logo { padding-right: 0; } 

ol.ls { margin: 35px auto; } 
}

.gra {
 background: #000 -moz-radial-gradient(15% 25%, closest-corner, #eee, #000);
 background: #000 -webkit-radial-gradient(15% 25%, closest-corner, #eee, #000);
 background: #000 -ms-radial-gradient(15% 25%, closest-corner, #eee, #000);
 background: #000 radial-gradient(ellipse closest-corner at 15% 25%, #eee, #000);
}

.grb {
 background: #000 -moz-radial-gradient(15% 10%, closest-corner, #ccc, #000);
 background: #000 -webkit-radial-gradient(15% 10%, closest-corner, #ccc, #000);
 background: #000 -ms-radial-gradient(15% 10%, closest-corner, #ccc, #000);
 background: #000 radial-gradient(ellipse closest-corner at 15% 10%, #ccc, #000);
}

.grc {
 background: #000 -moz-radial-gradient(20% 10.6%, closest-corner, #eee, #000);
 background: #000 -webkit-radial-gradient(20% 10.6%, closest-corner, #eee, #000);
 background: #000 -ms-radial-gradient(20% 10.6%, closest-corner, #eee, #000);
 background: #000 radial-gradient(ellipse closest-corner at 20% 10.6%, #eee, #000);
}

.grd {
 background: #000 -moz-radial-gradient(80% 8.75%, closest-corner, #eee, #000);
 background: #000 -webkit-radial-gradient(80% 8.75%, closest-corner, #eee, #000);
 background: #000 -ms-radial-gradient(80% 8.75%, closest-corner, #eee, #000);
 background: #000 radial-gradient(ellipse closest-corner at 80% 8.75%, #eee, #000);
}

.gre {
 background: #930 linear-gradient(to bottom, #930 0%, #c30 100%);
 background: #930 -webkit-linear-gradient(-90deg, #930 0%, #c30 100%);
 background: #930  -moz-linear-gradient(-90deg, #930 0%, #c30 100%);
 background: #930 -ms-linear-gradient(-90deg, #930 0%, #c30 100%);
}
