.gb_ea,             /* global header including google+ stuff */
div.aeG,            /* footer in list view*/
div.l2.ov,          /* footer in conversation/compose views */
div.w-asK.w-atd,    /* at the bottom: About the new look | Send Feedback */
td.w-as0.w-asZ,     /* old blue search button */
div#gbqfbw,         /* new blue search button */
div.aoo.J-JN-I,     /* drop-down arrow in search box */
div.w-asL,          /* old GMail logo */
div#gbq1,           /* new "google bar" logo */
div#gbpr,           /* pop-up help bubble for new "google bar" */
div.G-Ni.J-J5-Ji,   /* top buttons */

/* Left side */
div.aki.pp,         /* container for big Mail/Contacts/Tasks drop down */
div.n6,             /* "# more" link */
div.aic,            /* Compose button container */
div.aio > span.nU,  /* Inbox, Sent Mail, Drafts label */
div.PCbdGf.fy1Lpf,  /* All Mail label */
.afM,               /* drop-down menu icon next to Inbox label */
div.akc,            /* chat buddy list */
hr.aeS,             /* border below labels */

/* List view */
div.ar5.J-J5-Ji,    /* 1-2 of 3, next/prev arrows */
td.apU > span,      /* per thread stars */
td.TC,              /* "No new mail!" text */

/* Conversation view */
div.GAvrIe,         /* next/prev thread, settings buttons */
div.iG.J-J5-Ji,     /* 1-2 of 3, next/prev arrows */
div.f6,             /* "xxx is not available to chat" */
td.Bu.y3,           /* right side pane (ads, etc.) */
/* span.hk.J-J5-Ji,    /\* expand all, print, new window buttons *\/ */
div.OH0apf,         /* in-message ads */
div.aaq,            /* top right reply arrow button */
span.T-KT,          /* top right per message stars */

/* Compose view */
td.fA,              /* Check Spelling link */
span.es.el,         /* Rich formatting link */
td.eF > span.b2,    /* Insert span in Insert Invitation */
td.eF > span.el.ou, /* Invitation link in Insert Invitation */
td.aaL,             /* new window button next to To box */

/* Reply view (a few extra things on top of compose view) */
div.ej > div > div.eh > div.dW.E,  /* top send, save now, discard buttons (the bottom ones stay) */
table.cf.gz,        /* reply, reply all, forward tabs */

noop_end_selector_list
{
  display: none !important;
}

/* A whitelist of exceptions that shouldn't be hidden.
 */
div.aio > span.nU.n1,          /* Inbox, Drafts *when they have messages* */
ol.gbtc > li:last-child,       /* top-level header settings button */
span.hk.J-J5-Ji:nth-child(2),  /* expand all button */
noop_end_selector {
  display: inline !important;
}

/* Top level container and search box (first selector), labels and
 * message/conversation view containers (second selector). This removes the
 * minimum widths and makes them adjust to the * browser's width.
 */
div.lKgBkb,  /* labels container */
div.ajl,  /* labels container */
body > div > div.nH,      /* outer container and search box */
body > div > div.nH > div.nH > div.nH > div.no > div.nH.nn,  /* content container */
div.nH.NUxIad.bsvFKf      /* contact content container */
{
  width: auto !important;
  height: auto !important;
}

/* shrink top header div */
div#gb {
  height: 10px !important;
}

/* content container. only needed for chrome. */
body > div > div.nH > div.nH > div.nH > div.no > div.nH.nn {
  display: block !important;
  float: none !important;
}

/* show labels horizontally (inline) */
div.n3 * {
  display: inline !important;
}

/* colored drop-down menus right of labels. can't hide with display: none
 * because they're inside the div.n3 above. */
div.aig {
  opacity: 0;
}

/* put search box behind Move to and Labels pop-up menus (they're z-index 7) */
div.gb_Wa {
  z-index: auto !important;
  margin-left: 5% !important;
}

/* hide borders */
div.w-asV, /* top header and search box header */
div.ain,   /* left of labels with unread messages */
td.xY      /* between each thread in list view */
{
  border: none !important;
}
