html,
body,
body>div,
window {
	background: #000!important;
	color: #ddd!important;
	text-shadow: none !important;
}
img {
	display: none!important;
}
::-webkit-scrollbar {
	width: 5px!important;
	height: 5px!important;
}
::-webkit-scrollbar-button {
	width: 0px!important;
	height: 0px!important;
}
::-webkit-scrollbar-thumb {
	background: #797979!important;
	border: 0px inset #28ff25!important;
	border-radius: 0px!important;
}
::-webkit-scrollbar-thumb:hover {
	background: #8a8a8a!important;
}
::-webkit-scrollbar-thumb:active {
	background: #c6c6c6!important;
}
::-webkit-scrollbar-track {
	background: #222222!important;
	border: 0px none #28ff25!important;
	border-radius: 0px!important;
}
::-webkit-scrollbar-track:hover {
	background: #242424!important;
}
::-webkit-scrollbar-track:active {
	background: #1d1d1d!important;
}
::-webkit-scrollbar-corner {
	background: transparent!important;
}
div[style*="transparent"] *:not(img) {
	opacity: 0 !important;
}
body input,
body textarea {
	color: #D3E3E3 !important;
	background: #36342A !important;
	border-color: #EDCECE !important;
}
body a,
body a:link,
body a *:not(img),
body a:link *:not(img) {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #A2D498 !important;
}
body a:hover,
body a:active,
body a:hover *:not(img),
body a:active *:not(img) body {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #C9B3A9 !important;
}
* {
	border-color: #2E2533 !important;
}
browser[type="content-primary"] {
	background-color: #000!important;
}
body *:not([background]) {
	background-color: #000!important;
}
body *[background-image*="gradient"] {
	background-image: none!important;
}
.mv-thumb,
.mv-tile,
#mv-tiles {
	visibility: hidden!important;
}
