#content, body, html, div, .description {
  background: #101010;
  color: #ddd;
  font-size: 16px;
  font-family: "Fantasque Sans Mono";
  line-height: .8;
}

a { color: #cec; }
a:hover { color: #d1d; }
a:visited { color: #eee; }
.star, #banner { display: none; }
.private { background: transparent; border: 2px dotted; }
#bulk_top_bar { background: #111; }
#bulk_edit_box a {color: cyan !important; }
#bulk_edit_box span { color : #ccc; }
