img, #livechat-compact-view, #livechat-compact-container { display: none!important; visibility: hidden!important; }

body, div, html, .sidebar, span, p, a, h1, h2, h3, h4, h5, h6 { background: #111!important; color: #eee!important; border: none!important; }

/* smokey's */

