/* smokey's */

*,*:before,*:after{box-sizing:border-box!important;}

#BackToTop,#categoriesHeading,#shippingsideboxHeading,.category-links,#bestsellersHeading,#search,
#trackordersHeading,#bestsellersContent,.centerBoxWrapper,.centeredContent,#footer,img,#whatsnewHeading,
#livechat-compact-view,#livechat-compact-container,embed,.listingProductImage,#slides,.sidebar,
.rightBoxContainer,#trackorders,#livechat-full,#livechat-compact-container,#livechat-eye-catcher,#livechat-full
{display:none!important;visibility:hidden!important;width:0!important;height:0!important;}

body,div,html,.sidebar,span,p,h1,h2,h3,h4,h5,h6
{background:#101010!important;color:#dcdcdc!important;border:none!important;
font-family:'Fantasque Sans Mono',monospace!important;font-size:12px!important;}

a{color:#73E7CC!important;background:#101010!important;}

a:hover{color:#B1E773!important;background:#101010!important;}

a:visited{color:#BF7773!important;background:#101010!important;}

.cssButton,.submit_button,.button,.button_in_cart
{background:#101010!important;font-family:'Fantasque Sans Mono',monospace!important;}

.itemTitle{font-size:20px!important;float:left!important;margin:0!important;padding:0!important;}

.productListing-data{padding:0!important;border-style:hidden!important;}

strong font{font-weight:700!important;font-size:18px!important;color:#ababab!important;}

.betterCategories{line-height:4px!important;}

.category-top{line-height:0!important;}

#categoriesContent,.sideBoxContent{line-height:6px!important;width:800px!important;}

#indexProductListCatDescription{line-height:1.8!important;}

.onerow-fluid, #main-container{margin-left:50px!important;margin-right:0!important;}
