/* trump.css */

#usa {
  border-bottom: 16m solid gray;
}

.muslims {
  display: none!important;
}

.women {
  font-size: xx-small;
}

.migrants--undocumented {
  position: relative;
  bottom: -2000km;
}

.press {
  speak: none;
}

.policies {
  perspective: none;
}

#usa:after {
  content: "absolutely ruined";
}

