.single, .site-wrapper, .single-post,
.single-format-standard {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}

.page-content-primary { height: 100%; }

.single, .site-wrapper, .single-post, .single-format-standard, .page-content,
.page-main, .page-content-primary, p, div, .title, .alert, a, .content,
.post-tutorial, .single-article {
  background: #222;
  color: #ede;
  font-family: "Hack", monospace;
}

.global-nav, .ad, .ad-leaderboard, .post__inarticle-ad-template, .ad__wrapper,
.ad__wrapper, footer, .post__footer, .layout__sidebar, .social-share-links,
.content-header__publication-meta, .content-header__translation-dropdown-container,
.content-header__social-share-links sticky-block--floating, .social-share-links,
.layout__content-with-sidebar, iframe, .ad__content, .ad view ad--inarticle,
.main.content::after {
  visibility: hidden;
  height: 0;
  width: 0;
}

