@import url(https://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(https://fonts.googleapis.com/css?family=Cousine);

html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, aside, cite, i, table, tbody, th, tr, td, span,
#siteSub, #bodyContent, .mw-body-content, #jump-to-nav, .mw-jump, #mw-content-text, .mw-content-ltr,
#catlinks, .catlinks, .section, .sidebar, .container, .content, #top, #firstHeading, #siteNotice,
.mw-body, #content, div#content {
  background: #020100!important;
  color: #dee3c8!important;
}

body {
  font-size: 14pt;
  font-weight: 400;
  font-family: "Cardo", serif;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  font-weight: 700;
}

a { color: #d05c5c!important; }

a.new { color: #c14b4b; }

a:visited, a:hover, a.new:visited, a.new:hover { color: #d0ab5c!important; }

ul { list-style: disc; }

#mw-navigation, #mw-page-base, #mw-head-base, #footer { display: none; }

.mw-body {
  max-width: 860px;
  margin: 1em auto;
}

#content, div#content { border: none; }

#firstHeading, #siteSub {
  text-align: center;
  display: block;
}

#siteSub {
  margin-top: -0.5em;
  margin-bottom: 4em;
}

.mw-body-content {
  font-size: inherit;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.5em;
}

.mw-body { padding: 2em 0; }

.mw-body h1, .mw-body h2, .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6,
div#content h1, div#content h2, div#content #firstHeading {
  font-family: inherit;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.mw-body h1, div#content h1 { font-size: 1.8em; }

.mw-body h2, div#content h2 { font-size: 1.4em; }

.mw-body h3 { font-size: 1.2em; }

.mw-body h4 { font-size: 1.1em; }

.mw-body h5, .mw-body h6 { font-size: 1.0em; }

.mw-body p { margin: 0; }

.mw-body p + p { text-indent: 1.6em; }

.mw-editsection { display: none; }

table.ambox { margin-bottom: 1em; }

dl dd { text-align: center; }

span.texhtml {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#toc, .toc {
  border: none;
  padding: 0;
  background: #212121;
  font-size: inherit;
  display: block;
}

.mw-body #toc h2, .mw-body .toc h2 {
  font-family: inherit;
  font-size: 1.4em;
}

#toc h2, .toc h2 { display: block; }

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: left; }

.toctoggle { display: none; }

div.tright { margin: 0.5em 0 0.5em 1.5em; }

div.tleft { margin: 0.5em 1.5em 0.5em 0; }

.mw-code { margin: 0.8em 0; }

pre, code {
  font-family: "Cousine", monospace!important;
  background: transparent;
  border: 1px solid #ccc;
  color: #9DDC98;
  font-size: 0.8em;
}

sup { text-indent: 0; }

